.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 300px;
    margin-top: 20px;
}

.input > input {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
}

button > span {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
}