@charset "utf-8";

@import url(reset.css);
@import url(fonts.css);
@import url(sub_nav.css);

body {
    background-color: #f7efe1;
}

#company section {
    width: 100%;
    height: 100vh;
    outline: 1px solid red;
}

#company section.introduction {
    display: flex;
    height: auto;
}

#company section.introduction > div {
    flex:1;
}

#company section.introduction .contents_con {
    background: linear-gradient(180deg, rgba(255, 251, 244, 0.01) 0%, rgba(255, 251, 244, 0.5) 23.4%, #E8E2D1 73.41%);
}

#company section.introduction .contents_con img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

#company section.introduction .slide_con {
    height: 100vh;
    position: sticky;
    top: 0;
}