@charset "utf-8";

@import url(reset.css);
@import url(fonts.css);
@import url(sub_nav.css);

body {
    background-color: #fffbf4;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

#company section {
    width: 100%;
}

/* introduction */
#company section.introduction {
    display: flex;
    height: auto;
    position: relative;
}

#company section.introduction > div {
    flex:1;
    width: 50%;
}

#company section.introduction > .contents_con {
    background: linear-gradient(180deg, rgba(255, 251, 244, 0.01) 0%, rgba(255, 251, 244, 0.5) 23.4%, #E8E2D1 73.41%);
    position: relative;
    z-index: 10;
}

#company section.introduction > .contents_con .img_con {
    margin-top: 16vh;
}

#company section.introduction > .contents_con .img_con img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

#company section.introduction > .contents_con .text_con {
    width: 70%;
    margin: 7vh auto 9vh;
}

#company section.introduction > .contents_con .eng_text {
    margin-top: 7vh;
}

#company section.introduction > .contents_con .kor_text .kor,
#company section.introduction > .contents_con .eng_text .eng {
    font-size: 1vw;
    word-break: keep-all;
}

#company section.introduction > .slide_con > .poster_slide {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 20;
}

#company section.introduction > .slide_con > .poster_slide > .swiper-container {
    height: 100%;
}

#company section.introduction > .slide_con > .poster_slide > .swiper-container > .swiper-wrapper > .swiper-slide {
    position: relative;
}

#company section.introduction > .slide_con > .poster_slide > .swiper-container > .swiper-wrapper > .swiper-slide > .bg_con {
    width: 100%;
    height: 100vh;
    filter: brightness(40%);
}

#company section.introduction > .slide_con > .poster_slide > .swiper-container > .swiper-wrapper > .swiper-slide > .img_con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
}

#company section.introduction > .slide_con > .poster_slide > .swiper-container > .swiper-wrapper > .swiper-slide img {
    width: 100%;
    object-fit: cover;
}

#company section.introduction > .slide_con > .poster_slide > .swiper-container > .swiper-wrapper > .swiper-slide > .bg_con img {
    height: 100vh;
}

#company section.introduction > .slide_con > .poster_slide > .swiper-pagination {
    position: absolute;
    height: 2vh;
    bottom: 10vh;
}

#company section.introduction > .slide_con > .poster_slide > .swiper-pagination span {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% + 0.2vw));
    font-size: 1.5vw;
    color: #ffffff;
}

#company section.introduction > .slide_con > .poster_slide > .swiper-pagination .swiper-pagination-current {   
    left: 15%;
}

#company section.introduction > .slide_con > .poster_slide > .swiper-pagination .swiper-pagination-total {
    right: 15%;
}

.swiper-progress-bar {
    display: block;
    width: 55%;
    height: 2vh;
    position: absolute;
    left: 50%;
    bottom: 10vh;
    transform: translateX(-50%);
    z-index: 1;
}

.swiper-progress-bar .slide_progress-bar {
    position: absolute;
    width: auto;
    height: 2vh;
    background: #fffbf4;
    border-radius: 50px;
    box-shadow: 10px 10px 4px 2px rgba(0, 0, 0, 0.5);
    clear: both;
    opacity: 0;
    left: 0;
    right: 0;
}

.swiper-progress-bar .slide_progress-bar:after {
    content: "";
    width: 0;
    height: 100%;
    background: #8cc63e;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.1s width linear;
}

.swiper-progress-bar.active .slide_progress-bar {
    opacity: 1;
}

.swiper-progress-bar.animate .slide_progress-bar:after {
    transition: width linear;
    transition-delay: unset;
    width: 100%;
    transition-duration: 5s;
}

#company section.introduction > .contents_con .sign_con {
    width: 150%;
    background-color: #fffbf4;
    position: sticky;
    bottom: 0;
    overflow: hidden;
}

#company section.introduction > .contents_con .sign_con ul {
    display: flex;
    width: 300%;
    padding: 2vh 0;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 0;
    animation: fcap 20s linear infinite;
}

#company section.introduction > .contents_con .sign_con ul li {
    font-size: 1vw;
    font-weight: bold;
}

@media (max-width: 1200px) {
    #company section.introduction {
        display: block;
    }

    #company section.introduction > .contents_con {
        width: 100%;
        overflow: hidden;
    }

    #company section.introduction > div {
        width: 100%;
    }

    #company section.introduction > .contents_con .img_con {
        margin-top: 20vw;
    }

    #company section.introduction > .contents_con .img_con img {
        width: 40%;
    }

    #company section.introduction > .contents_con .text_con {
        width: 80%;
        margin: 10vw auto;
    }

    #company section.introduction > .contents_con .kor_text .kor,
    #company section.introduction > .contents_con .eng_text .eng {
        font-size: 2vw;
    }

    #company section.introduction > .slide_con > .poster_slide {
        height: auto;
        position: relative;
    }

    #company section.introduction > .slide_con > .poster_slide > .swiper-container > .swiper-wrapper > .swiper-slide > .bg_con {
        aspect-ratio: 1/1.1;
        height: auto;
    }

    #company section.introduction > .slide_con > .poster_slide > .swiper-container > .swiper-wrapper > .swiper-slide > .bg_con img {
        aspect-ratio: 1/1.1;
        height: auto;
    }

    #company section.introduction > .contents_con .sign_con {
        width: 200%;
    }
    
    #company section.introduction > .contents_con .sign_con ul {
        width: 400%;
    }
    
    #company section.introduction > .contents_con .sign_con ul li {
        font-size: 2vw;
    }

    #company section.introduction > .slide_con > .poster_slide > .swiper-pagination span {
        font-size: 4vw;
    }
}

@media (max-width: 768px) {
    #company section.introduction > .contents_con .img_con {
        margin-top: 16vh;
    }

    #company section.introduction > .contents_con .img_con img {
        width: 60%;
    }

    #company section.introduction > .contents_con .text_con {
        margin: 7vh auto;
    }
    
    #company section.introduction > .contents_con .kor_text .kor,
    #company section.introduction > .contents_con .eng_text .eng {
        font-size: 3.5vw;
    }

    #company section.introduction > .slide_con > .poster_slide > .swiper-container > .swiper-wrapper > .swiper-slide > .bg_con {
        aspect-ratio: 1/1.5;
    }

    #company section.introduction > .slide_con > .poster_slide > .swiper-container > .swiper-wrapper > .swiper-slide > .bg_con img {
        aspect-ratio: 1/1.5;
    }

    #company section.introduction > .contents_con .sign_con ul li {
        font-size: 3.5vw;
    }
}

/* history */
#company section.history {
    position: relative;
}

#company section.history > .bg_con {
    width: 100%;
    height: 100vh;
    position: fixed;
}

#company section.history > .bg_con img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#company section.history::after {
    content:"";
    width: 100%;
    height: 100vh;
    background: rgba(255,255,255,0.85);
    position: fixed;
    top: 0;
    left: 0;
}

#company section.history > .contents_con {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
}

.timeline_slide {
    width: 100%;
    background-color: #ffffff;
}

.timeline_slide .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.timeline_slide .swiper-wrapper {
    transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}

.timeline_slide .swiper-slide {
    padding-left: 0;
    padding-bottom: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: #000;
    overflow: hidden;
    box-sizing: border-box;
}

.timeline_slide .swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: -115%;
    bottom: -10%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.timeline_slide .swiper-slide-content {
    position: absolute;
    text-align: center;
    width: 80%;
    max-width: 310px;
    right: 50%;
    top: 13%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    font-size: 12px;
    z-index: 2;
}

.timeline_slide .swiper-slide .year_con {
    text-align: center;
}

.timeline_slide .swiper-slide .timeline-year {
    display: block;
    margin-bottom: 10vw;
    padding-top: 4px;
    font-size: min(8vw, 42px);
    color: #000000;
    font-weight: 300;
    transition: .2s ease .4s;
}

.timeline_slide .swiper-slide .list_con ul {
    padding: 0 5%;
    box-sizing: border-box;
}

.timeline_slide .swiper-slide .list_con ul li {
    display: flex;
    align-items: top;
    margin-top: 1.5vh;
}

.timeline_slide .swiper-slide .list_con ul li .dot {
    display: block;
    margin-top: -4px;
    padding-right: 10px;
}

.timeline_slide .swiper-slide .list_con ul li span {
    font-size: min(3.5vw,24px);
    word-break: keep-all;
}

.timeline_slide .swiper-slide .list_con ul li:nth-child(1) {
    margin-top: 0;
}

.timeline_slide .swiper-pagination {
    top: 0;
    right: 15% !important;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
    font-weight: 300;
    font-size: min(2vw,24px);
    z-index: 1;
}

.timeline_slide .swiper-pagination::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ffffff;
}

.timeline_slide .swiper-pagination-bullet {
    width: auto;
    height: auto;
    text-align: center;
    opacity: 1;
    background: transparent;
    color: #ffffff;
    margin: 15px 0 !important;
    position: relative;
}

.timeline_slide .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -32.5px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #ffffff;
    -webkit-transform: scale(0);
            transform: scale(0);
    transition: .2s;
}

.timeline_slide .swiper-pagination-bullet-active {
    color: #ffffff;
}

.timeline_slide .swiper-pagination-bullet-active::before {
    -webkit-transform: scale(1);
            transform: scale(1);
}

.timeline_slide .swiper-button-next,
.timeline_slide .swiper-button-prev {
    width: 20px;
    height: 20px;
    margin-top: 0;
    background-size: 20px 20px;
    transition: .2s;
    transform: translateY(-50%);
    z-index: 2;
}

.timeline_slide .swiper-button-prev {
    left: 8%;
    background-image: url("../img/arrow_left_w.svg");
    filter:brightness(0);
}

.timeline_slide .swiper-button-next {
    right: 8%;
    background-image: url("../img/arrow_right_w.svg");
    filter:brightness(0);
}

@media screen and (min-width: 1200px) {
    #company section.history .contents_con {
        height: 100vh;
    }

    #company section.history::after {
        height: 100vh;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 10%, rgba(255, 251, 244, 0.8) 50%, #fffbf4 90%);
    }

    .timeline_slide .swiper-container {
        height: 100vh;
    }

    .timeline_slide .swiper-slide::after {
        right: -30%;
        bottom: -8%;
        width: 240px;
        height: 50%;
    }

    .timeline_slide .swiper-slide-content {
        right: 30%;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 310px;
        font-size: 11px;
        text-align: right;
    }

    .timeline_slide .swiper-slide{
        padding-left: 5vw;
        padding-bottom: 0;
    }

    .timeline_slide .swiper-slide .year_con {
        text-align: left;
    }

    .timeline_slide .swiper-slide .timeline-year {
        margin-top: 0;
        margin-bottom: 2vh;
        font-size: min(3vw,48px);
    }

    .timeline_slide .swiper-slide .list_con {
        width: 70vw;
    }

    .timeline_slide .swiper-slide .list_con ul {
        padding: 0;
    }

    .timeline_slide .swiper-slide .list_con ul li span {
        font-size: min(2vw,18px);
        word-break: keep-all;
    }

    .timeline_slide .swiper-pagination {
        display: flex;
    }

    .timeline_slide .swiper-button-prev {
        top: 5%;
        left: auto;
        right: 15%;
        -webkit-transform: rotate(90deg) translate(0, 10px);
                transform: rotate(90deg) translate(0, 10px);
        filter: brightness(1);
    }

    .timeline_slide .swiper-button-prev:hover {
        -webkit-transform: rotate(90deg) translate(-3px, 10px);
                transform: rotate(90deg) translate(-3px, 10px);
    }

    .timeline_slide .swiper-button-next {
        top: auto;
        bottom: 5%;
        right: 15%;
        -webkit-transform: rotate(90deg) translate(0, 10px);
                transform: rotate(90deg) translate(0, 10px);
        filter: brightness(1);
    }

    .timeline_slide .swiper-button-next:hover {
        -webkit-transform: rotate(90deg) translate(3px, 10px);
                transform: rotate(90deg) translate(3px, 10px);
    }
}

@media (min-width: 1024px) {
    .timeline_slide .swiper-slide::after {
        right: -20%;
        bottom: -12%;
        width: 240px;
        height: 50%;
    }

    .timeline_slide .swiper-slide-content {
        right: 25%;
    }
}

/* contactus */
#company section.contactus {
    position: relative;
    overflow: hidden;
}

#company section.contactus > .top_bg_con,
#company section.contactus > .bottom_bg_con {
    width: 80vw;
    position: absolute;
    left: 50%;
    z-index: 10;
}

#company section.contactus > .top_bg_con {
    top: 0;
    transform: translateX(-50%);
}

#company section.contactus > .top_bg_con img {
    animation: topBgRotate 5s ease-in-out infinite alternate;
}

#company section.contactus > .bottom_bg_con {
    bottom: 0;
    transform: translateX(-50%) scalex(-1) scaleY(-1);
}

#company section.contactus > .bottom_bg_con img {
    animation: topBgRotate 5s ease-in-out infinite alternate-reverse;
}

#company section.contactus > .contents_con {
    padding: 20vh 0;
    position: relative;
    z-index: 20;
}

#company section.contactus > .contents_con > .title_con {
    width: 30vw;
    margin: 0 auto;
}

#company section.contactus > .contents_con > .title_con img {
    width: 100%;
}

#company section.contactus > .contents_con > .map_con {
    width: 100%;
    height: 59vh;
    margin-top: 20vh;
}

#company section.contactus > .contents_con > .map_con iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#company section.contactus > .contents_con > .info_con {
    width: 62.5vw;
    margin: 0 auto;
    margin-top: 10vh;
}

#company section.contactus > .contents_con > .info_con > ul {
    display: flex;
    padding: 5vh 0;
    justify-content: space-between;
    border-top: 1px dashed #000000;
    border-bottom: 1px dashed #000000;
}

#company section.contactus > .contents_con > .info_con > ul > li > .title_con > span {
    font-size: 1.5vw;
}

#company section.contactus > .contents_con > .info_con > ul > li > .text_con span {
    display: inline-block;
    margin-top: 2vh;
    font-size: 0.8vw;
}

@media (max-width: 1000px) {
    #company section.contactus > .contents_con {
        padding: 18vh 0 5vh 0;
    }

    #company section.contactus > .contents_con > .title_con {
        width: 50vw;
    }

    #company section.contactus > .contents_con > .map_con {
        height: 30vh;
        margin-top: 5vh;
    }

    #company section.contactus > .contents_con > .info_con {
        width: 80vw;
        margin: 0 auto;
        margin-top: 5vh;
    }
    
    #company section.contactus > .contents_con > .info_con > ul {
        display: block;
        padding: 2.5vh 0;
        justify-content: space-between;
        border-top: 1px dashed #000000;
        border-bottom: 1px dashed #000000;
    }

    #company section.contactus > .contents_con > .info_con > ul > li {
        margin-top: 2vh;
    }
    
    #company section.contactus > .contents_con > .info_con > ul > li > .title_con > span {
        font-size: 5vw;
    }
    
    #company section.contactus > .contents_con > .info_con > ul > li > .text_con span {
        display: inline-block;
        margin-top: 1vh;
        font-size: 2.8vw;
    }

    #company section.contactus > .contents_con > .info_con > ul > li:nth-child(1) {
        margin-top: 0;
    }
}

/* keyframe */
@keyframes fcap {
    to{
        left: -150%;
    }
}

@keyframes mfcap {
    to{
        left: -200%;
    }
}

@keyframes topBgRotate {
    0%{
        transform: translate3d(50px,-50px,0px) rotate(-5deg) skewX(10deg);
    }
    100%{
        transform: translate3d(0px,0px,0px) rotate(0deg) skewX(0deg);
    }
}