@charset "utf-8";

@font-face {
	font-family: "Flaviotte";
	src: url("./fonts/Flaviotte.eot"); /* IE9 Compat Modes */
	src: url("./fonts/Flaviotte.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("./fonts/Flaviotte.otf") format("opentype"), /* Open Type Font */
		 url("./fonts/Flaviotte.svg") format("svg"), /* Legacy iOS */
		 url("./fonts/Flaviotte.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("./fonts/Flaviotte.woff") format("woff"), /* Modern Browsers */
		 url("./fonts/Flaviotte.woff2") format("woff2"); /* Modern Browsers */
	font-style: normal;
}

@font-face {
	font-family: "neutraltextbook";
	src: url("./fonts/neutraltextbook.eot"); /* IE9 Compat Modes */
	src: url("./fonts/neutraltextbook.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("./fonts/neutraltextbook.otf") format("opentype"), /* Open Type Font */
		 url("./fonts/neutraltextbook.svg") format("svg"), /* Legacy iOS */
		 url("./fonts/neutraltextbook.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("./fonts/neutraltextbook.woff") format("woff"), /* Modern Browsers */
		 url("./fonts/neutraltextbook.woff2") format("woff2"); /* Modern Browsers */
	font-style: normal;
}