@charset "utf-8";

@import url(reset.css);

body {
    width: 100vw;
    height: 600vh;
	background: url(../img/tree_bg.png) no-repeat fixed center/cover;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.slide_con {
	position: absolute;
	bottom: -5vw;
}
  
.slide_con > .contents_con {
	position: relative;
  	width: 20vw;
  	height: 20vw;
  	margin: 0 auto;
  	border-radius: 50%;
}
  
.slide_con > .contents_con > .img_con {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 7vw;
  	height: 7vw;
  	margin: -50% 0 0 -68%;
  	transform-origin: center center;
  	transition: transform 0.5s;
}
  
.slide_con > .contents_con > .img_con img {
	display: block;
  	width: 100%;
  	height: 120%;
  	object-fit: cover;
  	border-radius: 10%;
  	transform-origin: center center;
}

/* SCROLL DOWN */
.scroll_down {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 14px;
	color: white;
	font-weight: 400;
	text-transform: uppercase;
	overflow: visible;
}

.scroll_down .arrow {
	width: 15px;
	height: 15px;
	margin: 0 auto;
	position: relative;
	top: 0px;
	filter: invert(1);
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
	background-size: contain;
}

.scbar::-webkit-scrolbar {
	width: 7px;
}

.scbar::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 5px;
}

.scbar::-webkit-scrollbar-track {
	background-color: #ddd;
	border-radius: 5px;
}
