@charset "utf-8";

body {width:100%; margin:0 auto; padding:0; font-size:13px; line-height:normal; overflow-y:scroll; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none;}
img {border:none; padding:0; margin:0; outline:none;}
a {border:none; padding:0; margin:0; outline:none; text-decoration:none;}
a:active {color:#666666; text-decoration:none;}
a:link {color:#666666; text-decoration:none;}
a:visited {color:#666666; text-decoration:none;}
a:hover {color:#666666; text-decoration:none;}
ul {list-style:none; padding:0; margin:0; *zoom:1;}
ul:after {content:""; display:block; clear:both;}
ul > li {display:block;}

img.fx{max-width:100%;}

td {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

input, select, textarea {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:0; 
	padding:0; 
	outline:none; 
	font-size:13px; 
	color:#000000;
}

input::placeholder {color:#000000; opacity:1;}
input::-webkit-input-placeholder {color:#000000;}
input:-ms-input-placeholder {color:#000000;}
input:-moz-input-placeholder {color:#000000;}

textarea::placeholder {color:#000000; opacity:1;}
textarea::-webkit-input-placeholder {color:#000000;}
textarea:-ms-input-placeholder {color:#000000;}
textarea:-moz-input-placeholder {color:#000000;}

input[type=text], input[type=password] ,input[type=tel], input[type=file], input[type=image], input[type=button], input[type=submit], textarea {
	border-radius:0; 
	-moz-border-radius:0; 
	-webkit-border-radius:0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	width:100%;
}

select {
	border-radius:0; 
	-moz-border-radius:0; 
	-webkit-border-radius:0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background-color:#ffffff;
	background-image:url("/img/sub/select_arrow.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	width:100%;
}

select::-ms-expand {display:none;}

.w_con {display: block;}
.m_con {display: none;}

.w_img {display: inline; zoom:1; width:100%;}
.m_img {display: none;}

.w_br {display: block;}
.m_br {display: none;}

.w_bar {display: inline-block;}
.m_bar {display: none;}