@charset "utf-8";

@import url(reset.css);
@import url(fonts.css);

#top {
	position: fixed;
	top: 4vh;
	left: 3vw;
	z-index: 100;
}

#top .top {
    display: flex;
    align-items: center;
}

#top .logo {
	width: min(15vw,55px);
	margin: 0 auto;
}

#top .logo > a {
	display: block;
	width: 100%;
	height: 100%;
}

#top .logo > a img {
	display: block;
	width: 100%;
}